*,table, tbody{
    margin: 0 auto;
    padding: 1px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #EBE4D1;
}
#container{
    text-align: center;
    background-position: center;
    padding: 5px;
    width: 420px;
    height: 440px;
    display:inline-table;
    background-color: #E55604 ;
    border-radius: 2rem;
    position: relative;
}


#seccion {
    position: absolute;
}

button{
    padding: 1px;
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: #fff;
    border-radius: 1rem;
}
#cero, #limpiar, #igual{
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 200px;
    height: 50px;
}
span{
    width: 400px;
    height: 80px;
    display: block;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    background-color: #B4B4B3;
    border-radius: 1rem; 
}
strong{
    color: #26577C;
}